.container {
    padding: 50px 100px;
    position: relative;
}

.userInfo {
    display: flex;
    justify-content: space-between;
}

.userText {
    margin: 0;
    width: 60%;
}

.contacts {
    display: flex;
    flex-direction: column;
}

.tel {
    margin-bottom: 25px;
}

.email,
.tel {
    display: flex;
    align-items: center;
}

.contactsText {
    font-size: 16px;
    line-height: 136.19%;
    color: #151317;
    padding-left: 10px;
}

.email:hover .contactsText,
.tel:hover .contactsText {
    color: #530c99;
}

@media (max-width:768px) {
    .userText {
        width: 100%;
    }

    .userInfo {
        flex-direction: column-reverse;
    }

    .contacts {
        margin-bottom: 34px;
    }
}



@media (max-width:600px) {
    .container {
        padding: 33px 15px;
    }
}