.button {
    font-size: 16px;
    line-height: 136.19%;
    text-align: center;
    color: #FFFFFF;
    padding: 13px;
    background: #512689;
    border-radius: 8px;
    border: none;
}

.button:hover,button:focus-visible  {
    background: #7b48bd;
}