.form {
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 16px;
    line-height: 136.19%;
    color: #151317;
    margin-bottom: 8px;
}

.inputlabel {
    margin-bottom: 16px;
}

.inputlabellast {
    margin-bottom: 24px;
}

@media (max-width:500px) {
    .form {
        max-width: 100%;
    }
}

.error {
    color: #FF6161;
    font-size: 10px;
    padding-top: 10px;
    line-height: 12px;
}